<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.WordClash">
        <!-- MINI GAMES ACTIVITIES (NEW) -->
        <activity
            android:name=".screens.MiniGamesActivity"
            android:exported="false" />
        <activity
            android:name=".screens.MatchGameActivity"
            android:exported="false" />
        <activity
            android:name=".screens.TrueFalseGameActivity"
            android:exported="false" />
        <activity
            android:name=".screens.WordBuilderGameActivity"
            android:exported="false" />
        <activity
            android:name=".screens.FillGapsGameActivity"
            android:exported="false" />
        <activity
            android:name=".screens.SpeedQuizGameActivity"
            android:exported="false" />
        <activity
            android:name=".screens.ListenGuessGameActivity"
            android:exported="false" />
        <activity
            android:name=".screens.MemoryCardsGameActivity"
            android:exported="false" />
        <!-- EXISTING ACTIVITIES -->
        <activity
            android:name=".screens.ProfilePictureActivity"
            android:exported="false" />
        <activity
            android:name=".screens.LanguageSelectionActivity"
            android:exported="false" />
        <activity
            android:name=".screens.LeaderboardActivity"
            android:exported="false" />
        <activity
            android:name=".screens.StartPageActivity"
            android:exported="false" />
        <activity
            android:name=".screens.AdminManageWordsActivity"
            android:exported="false" />
        <activity
            android:name=".screens.AdminAddWordActivity"
            android:exported="false" />
        <activity
            android:name=".screens.WordleActivity"
            android:exported="false" />
        <activity
            android:name=".screens.WordsListActivity"
            android:exported="false" />
        <activity
            android:name=".screens.LevelActivity"
            android:exported="false" />
        <activity
            android:name=".screens.GameActivity"
            android:exported="false" />
        <activity
            android:name=".screens.RanksActivity"
            android:exported="false" />
        <activity
            android:name=".screens.ChangeDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".screens.UserListActivity"
            android:exported="false" />
        <activity
            android:name=".screens.admin_users_Activity"
            android:exported="false" />
        <activity
            android:name=".screens.SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".screens.SignUpActivity"
            android:exported="false" />
        <activity
            android:name=".screens.MainActivity"
            android:exported="false" />
        <activity
            android:name=".screens.LoginActivity"
            android:exported="false" />

        <!-- FileProvider for camera photos -->
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>

</manifest>